.bar {
    width: 1300px;
    height: 210px;
    background-color:#FFFFFF; 
    position: absolute; 
    top: 290px; 
    left: 350px;
    border-radius: 4px;
  }
.main{
    position: absolute;
    width: 1300px;
    height: 910px;
    top: 530px;
    left: 350px;
    border-radius: 4px;
    background-color:#FFFFFF;  
}
.Arrow {
  position: absolute;
  width: 200px;     /* Increase width for a longer appearance */
  /* height: 150px;     Increase height for a bigger appearance */
  display: inline-flex;
  align-items: center;
  /* justify-content: center; */
  left: 350px;
  font-size: 40px;  /* Increase the size of the icon */
  color:#213F7D;
  margin-top: 3.5%;
}
.Users{
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #213F7D;
  position: absolute;
  margin-left: 6%;
  margin-top: 7.5%;
}
.back{
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #213F7D;
  position: absolute;
  margin-left: 9%;
  margin-top: 4.05%;
}
.btnStyle1{
  width: 170px;
  height: 40px;
  margin-top: 7%;
  left: 1300px;
  border-radius: 8px;
  border: 1px solid #E4033B;
  background-color: transparent;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #E4033B;
  position: absolute;
}
.btnStyle1{
  /* ... your existing styles ... */
  transition: background-color 0.3s ease; /* Add a transition for smoothness */
}

.btnStyle1:hover {
  background-color:#E4033B;
  color: black; 
}
.btnStyle2{
  width: 170px;
  height: 40px;
  margin-top: 7%;
  left: 1480px;
  border-radius: 8px;
  border: 1px solid #39CDCC;
  background-color: transparent;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: center;
  color:#39CDCC;
  position: absolute;
}
.btnStyle2{
  /* ... your existing styles ... */
  transition: background-color 0.3s ease; /* Add a transition for smoothness */
}

.btnStyle2:hover {
  background-color: #39CDCC;
  color: black; 
}
.userProfile{
  position: absolute;
  left: 2%;
  top: 10%;
}
.name{
  position: absolute;
  left: 11%;
  top: 22%;
  color: #213F7D;
  font-family: Work Sans;
  width: 140px;
  font-weight: 500;
  font-size: 21px;
  line-height: 25.81px;
}
.key{
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  top: 35%;
  position: absolute;
  color: #545F7D;
  left: 11.1%;
}
.vertical-line1{
  position: absolute;
  width: 80px;
  height: 1px; 
  background-color: black;
  border: 1px solid #545F7D;
  opacity: 0.2;
  position: absolute;
  top: 35%;
  left: 20%;
  transform: rotate(-90deg);
}
.vertical-line2{
  position: absolute;
  width: 80px;
  height: 1px; 
  background-color: black;
  border: 1px solid #545F7D;
  opacity: 0.2;
  position: absolute;
  top: 35%;
  left: 40%;
  transform: rotate(-90deg);
}
.user-tier{
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
  width: 110px;
  height: 16px;
  position: absolute;
  top: 20%;
  left: 28.5%;
}
.star{
  top: 30%;
  left: 29.7%;
  position: absolute;
}
.amt{
  top: 22%;
  left: 45%;
  position: absolute;
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  line-height: 25.81px;
  color: #213F7D;

}
.acc{
  top: 40%;
  left: 45%;
  position: absolute;
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;  
  line-height: 25.81px;
  color: #213F7D;

}
.GT{
   position:absolute;
   top: 47%;
   left: 25%;
   font-family: Work Sans;
   font-size: 16px;
   font-weight: 400;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: center;
   color: #39CDCC;

   
}
.DOC{
  position:absolute;
  top: 47%;
  left: 37%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;

}
.BD{
  position:absolute;
  top: 47%;
  left: 49%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
.LOANS{
  position:absolute;
  top: 47%;
  left: 62%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
.SAVINGS{
  position:absolute;
  top: 47%;
  left: 72%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
.AS{
  position:absolute;
  top: 47%;
  left: 82%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
.horizontal{
  width: 170px;
  top: 500px;
  left: 410px;
  border-top: 2px solid #39CDCC; /* Only top border for a line */
  position: absolute; /* To use the top and left positioning */
}
/* Hover styles */
.GT:hover, 
.DOC:hover,
.BD:hover,
.LOANS:hover,
.SAVINGS:hover,
.AS:hover {
  color: #39CDCC;
}
/* Horizontal Line on Hover */
.GT:hover ~ .horizontal,
.DOC:hover ~ .horizontal,
.BD:hover ~ .horizontal,
.LOANS:hover ~ .horizontal,
.SAVINGS:hover ~ .horizontal,
.AS:hover ~ .horizontal { 
  opacity: 1;  
}
.divider1 {
  width: 1300px;
  height: 1px; /* Height is necessary even though border creates thickness */
  top: 720px;
  left: 350px;
  border: 1px solid #213F7D;
  opacity: 0.1;
  position: absolute;
  transform: rotate(0deg); /* Initially no rotation */
}
.divider2 {
  width: 1300px;
  height: 1px; /* Height is necessary even though border creates thickness */
  top: 930px;
  left: 350px;
  border: 1px solid #213F7D;
  opacity: 0.1;
  position: absolute;
  transform: rotate(0deg); /* Initially no rotation */
}
.divider3 {
  width: 1300px;
  height: 1px; /* Height is necessary even though border creates thickness */
  top: 1100px;
  left: 350px;
  border: 1px solid #213F7D;
  opacity: 0.1;
  position: absolute;
  transform: rotate(0deg); /* Initially no rotation */
}
.divider4 {
  width: 1300px;
  height: 1px; /* Height is necessary even though border creates thickness */
  top: 1270px;
  left: 350px;
  border: 1px solid #213F7D;
  opacity: 0.1;
  position: absolute;
  transform: rotate(0deg); /* Initially no rotation */
}
.pInfo{
  position:absolute;
  top: 55%;
  left: 25%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #213F7D; 
}
.fName1{
  position:absolute;
  top: 58%;
  left: 25%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;

}
.fName2{
  position: absolute;
  top: 60.5%;
  left: 25%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;

}
.pNumber{
  position:absolute;
  top: 58%;
  left: 40%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.PNumber{
  position: absolute;
  top: 60.5%;
  left: 40%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.eAddress{
  position:absolute;
  top: 58%;
  left: 55%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.Eaddress{
  position: absolute;
  top: 60.5%;
  left: 55%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.BVN1{
  position:absolute;
  top: 58%;
  left: 70%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.BVN2{
  position: absolute;
  top: 60.5%;
  left: 70%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.gender1{
  position:absolute;
  top: 58%;
  left: 82%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.gender2{
  position: absolute;
  top: 60.5%;
  left: 82%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.mStatus{
  position:absolute;
  top: 65%;
  left: 25%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.Mstatus{
  position: absolute;
  top: 67.5%;
  left: 25%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.Kids1{
  position:absolute;
  top: 65%;
  left: 40%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.Kids2{
  position: absolute;
  top: 67.5%;
  left: 40%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.Location1{
  position:absolute;
  top: 65%;
  left: 55%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.Location2{
  position: absolute;
  top: 67.5%;
  left: 55%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.employment1{
  position:absolute;
  top: 75%;
  left: 25%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #213F7D; 
}
.edu1{
  position:absolute;
  top: 78%;
  left: 25%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;

}
.edu2{
  position: absolute;
  top: 81%;
  left: 25%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.status1{
  position:absolute;
  top: 78%;
  left: 40%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.status2{
  position: absolute;
  top: 81%;
  left: 40%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.sector1{
  position:absolute;
  top: 78%;
  left: 55%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.sector2{
  position: absolute;
  top: 81%;
  left: 55%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.duration1{
  position:absolute;
  top: 78%;
  left: 70%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.duration2{
  position: absolute;
  top: 81%;
  left: 70%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.Oemail1{
  position:absolute;
  top: 85.5%;
  left: 25%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.Oemail2{
  position: absolute;
  top: 88%;
  left: 25%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.income1{
  position:absolute;
  top: 85.5%;
  left: 40%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.income2{
  position: absolute;
  top: 88%;
  left: 40%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.repay1{
  position:absolute;
  top: 85.5%;
  left: 55%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.repay2{
  position: absolute;
  top: 88%;
  left: 55%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.socials{
  position:absolute;
  top: 95.5%;
  left: 25%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #213F7D; 
}
.twitter1{
  position:absolute;
  top: 102%;
  left: 25%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.twitter2{
  position: absolute;
  top: 105%;
  left: 25%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.FB1{
  position:absolute;
  top: 102%;
  left: 40%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.FB2{
  position: absolute;
  top: 105%;
  left: 40%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.FB3{
  position:absolute;
  top: 102%;
  left: 55%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.FB4{
  position: absolute;
  top: 105%;
  left: 55%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.guarantor{
  position:absolute;
  top: 113%;
  left: 25%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #213F7D; 
}
.name1{
  position:absolute;
  top: 119%;
  left: 25%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.name2{
  position: absolute;
  top: 121.5%;
  left: 25%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.number1{
  position:absolute;
  top: 119%;
  left: 40%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.number2{
  position: absolute;
  top: 121.5%;
  left: 40%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.address1{
  position:absolute;
  top: 119%;
  left: 55%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.address2{
  position: absolute;
  top: 121.5%;
  left: 55%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.relation1{
  position:absolute;
  top: 119%;
  left: 70%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.relation2{
  position: absolute;
  top: 121.5%;
  left: 70%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
/* footer */
.Name1{
  position:absolute;
  top: 135%;
  left: 25%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.Name2{
  position: absolute;
  top: 138%;
  left: 25%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.Number1{
  position:absolute;
  top: 135%;
  left: 40%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.Number2{
  position: absolute;
  top: 138%;
  left: 40%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.Address1{
  position:absolute;
  top: 135%;
  left: 55%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.Address2{
  position: absolute;
  top: 138%;
  left: 55%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}
.Relation1{
  position:absolute;
  top: 135%;
  left: 70%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color:#545F7D;
}
.Relation2{
  position: absolute;
  top: 138%;
  left: 70%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #545F7D;
}