.widget-container {
    display: flex; /* Arranges widgets in a row */
    gap: 20px;   /* Space between widgets */
    background-color: red;
    padding: 30px;
  }
  
  .widget {
    width: 1500px;      /* Adjust the width as needed */
    height: 150px;     /* Adjust the height as needed */
    background-color: white; /* Light gray background */
    border: transparent;     /* Subtle border */
    padding: 20px;              /* Internal spacing  */
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;         /*Slightly rounded corners */
    margin-top: 30px;
  }
  
.iconuser{
    color: #DF18FF;
    background-color: #d98be5;
    border-radius: 90%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.title{
    font-size: 14px;
    font-weight: 500;
    color: #545F7D;
    padding-top: 10px;
}
.amount{
    font-size: 24px;
    font-weight: 600;
    color: #213F7D;
    padding-top: 10px;
}