  .left {
    /* margin-right: 20px; */
    margin-left: 35px;
    flex: 1;
    padding: 10px;
    height: 160px;
    width: 240px;
    border-radius: 4px;
    border: 1px;
    border-style: solid;
    border-color: #213F7D0F;
    /* justify-content: space-between; */
    border-width: 0px, 0px, 0px, 0px;
    /* padding-left: 20px; */
    box-shadow: -2px -5px 18px -8px rgb(192, 195, 195);
    /* -webkit-box-shadow: -2px -5px 18px -8px rgba(33, 63, 125, 1);
    -moz-box-shadow: -2px -5px 18px -8px rgba(33, 63, 125, 1); */
    margin-top: 80px;
  }
.iconuser{
    color: #DF18FF;
    background-color: #d98be5;
    border-radius: 90%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.title{
    font-size: 14px;
    font-weight: 500;
    color: #545F7D;
    padding-top: 10px;
}
.amount{
    font-size: 24px;
    font-weight: 600;
    color: #213F7D;
    padding-top: 10px;
}