@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.Sidebar {
    background-color: #FFFFFF;
    flex: 1;
    min-height: 100vh;
    font-family: "Work Sans", sans-serif;
    /* border-right: 0.5px solid; */
}

.Sidebar .top {
    height: 30px;
    padding: 1px;
    display: flex;
    margin-top: 20px;
    margin-right: 50px;
    justify-content: center;
}

.Sidebar .center {
    padding-left: 20px;
}
.center{
    position: absolute;
}
.dashBoard{
    position: absolute;
    top: 90px;
}
.center ul {
    list-style: none;
    margin: 0;
    padding: 4px;
    margin-top: 40px;
}

ul .title {
    font-size: 12px;
    color: #545F7D;
    font-weight: 500;
    margin-top: 90px;
    margin-bottom: 15px;
}

ul li {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;

}

li .icon {
    color: #8e9ab0;
}

ul li:hover {
    background-color: #39CDCC;
}
ul li:hover.dashBoard{
    width: 205px;
}

span {
    margin-left: 10px;
    color: #213F7D;
}

.dash {
    margin-top: 30px;
}

.icon1 {
    margin-top: 30px;
    color: #8e9ab0;
}
