.table{
    margin-top: -3%;
    border: 1px solid #213F7D0F;
}
.table .tablecell{
    font-size: 14px;
    font-weight: 400;
    color: #545F7D;
}
.drpDown{
    width: 60px;
    height: 25px;
    margin-top: -40%;
    margin-left: 80px;
    position: absolute;
}
.shw{
    position: absolute;
    margin-top: -1%;
}
.footer{
    margin-top: 5%;
    position: absolute;
}
.numbr{
    position:relative;
    margin-top: -10%;
    margin-left: 150px;
}
.pagination{
    position: absolute;
    margin-top: 4%;
    margin-left: 54%;
}
.filtericon{
    
}
.Users{
    position: absolute;
    font-size: 180%;
    margin-top: -20%;
    color:  #213F7D;
    font-weight: 10px;
}