/* .table{
    margin-top: 10px;
    border: 1px solid #213F7D0F;
}
.table .tablecell{
    font-size: 14px;
    font-weight: 400;
    color: #545F7D;
}

.drpDown{
    width: 60px;
    height: 25px;
    margin-top: 20%;
    margin-left: 80px;
    position: absolute;
}
.shw{
    position: absolute;
    margin-top: 20%;
}
.footer{
    position: absolute;
}
.numbr{
    margin-top: -10%;
    margin-left: 150px;
}
.pagination{
    position: absolute;
    margin-top: 2%;
    margin-left: 54%;
}
.Users{
    position: absolute;
    font-size: 180%;
    margin-top: -20%;
    color:  #213F7D;
    font-weight: 10px;
}
.dropDown{

}

.shw {
    position: absolute;
    margin-top: 3%;
}

.footer {
    margin-top: 1%;
    position: absolute;
}

.numbr {
    position: fixed;
    margin-top: -1.4%;
    margin-left: 150px;
} */



.table {
    margin-top: -3%;
    border: 1px solid #213F7D0F;
}

.table .tablecell {
    font-size: 14px;
    font-weight: 400;
    color: #545F7D;
}

.drpDown {
    width: 60px;
    height: 25px;
    margin-top: 20%;
    margin-left: 80px;
    position: absolute;
}

.shw {
    position: absolute;
    margin-top: 20%;
}

.footer {
    /* margin-top: 5%; */
    position: absolute;
}

.numbr {
    /* position:relative; */
    margin-top: -10%;
    margin-left: 150px;
}

.pagination {
    position: absolute;
    margin-top: 2%;
    margin-left: 54%;
}

.Users {
    position: absolute;
    font-size: 180%;
    margin-top: -20%;
    color: #213F7D;
    font-weight: 10px;
}

.dropDown {}
.status {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
}

.status.inactive {
    background-color: rgb(235, 229, 229);
    color: #333;
}

.status.pending {
    background-color: rgb(247, 240, 218);
    color: #E9B200;
}

.status.active {
    background-color: rgb(232, 246, 236);
    color: #39CD62;
}

.status.blacklisted {
    background-color: rgb(255, 228, 225);
    color: #E4033B;
}
/* General Styles */
MenuItem {
    height: 600px;
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #545F7D;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.filter-row {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/* Labels */
label {
    font-weight: 500;
    color: #545F7D;
}

/* Input Fields */
.filter-input {
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #213F7D;
}
.filter-input::-webkit-inner-spin-button,
.filter-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Select Box */
.filter-select {
    width: 100%;
    height: 40px;
    padding: 8px;
    border: 1px solid #213F7D;
    border-radius: 3px;
}

/* Buttons */
.reset-btn,
.filter-btn {
    width: 98px;
    height: 40px;
    margin: 10px;
    border-radius: 8px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

.reset-btn {
    background-color: #FFFFFF;
    border: 1px solid #545F7D;
}

.filter-btn {
    background-color: #39CDCC;
    border: 1px solid #39CDCC;
}