.table{
    margin-top: -3%;
    border: 1px solid #213F7D0F;
}
.table .tablecell{
    font-size: 14px;
    font-weight: 400;
    color: #545F7D;
}
.drpDown{
    width: 60px;
    height: 25px;
    margin-top: 20%;
    margin-left: 80px;
    position: absolute;
}
.shw{
    position: absolute;
    margin-top: 20%;
}
.footer{
    /* margin-top: 5%; */
    position: absolute;
}
.numbr{
    /* position:relative; */
    margin-top: -10%;
    margin-left: 150px;
}
.pagination{
    position: absolute;
    margin-top: 2%;
    margin-left: 54%;
}
.Users{
    position: absolute;
    font-size: 180%;
    margin-top: -20%;
    color:  #213F7D;
    font-weight: 10px;
}
.status-pill {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
  }
  
  .status-pill.inactive {
    background-color: rgb(235, 229, 229);
    color: #333;
    
  }
  
  .status-pill.pending {
    background-color: rgb(247, 240, 218);
    color: #E9B200;
  }
  
  .status-pill.active {
    background-color: rgb(232, 246, 236);
    color: #39CD62;
  }
  
  .status-pill.blacklisted {
    background-color: rgb(255, 228, 225);
    color: #E4033B;
    font-family:sans-serif;
  }
  .no-underline{
    text-decoration: none;
    color: #545F7D;
  }